
/CyberscopeAnalyzer/.vs
/CyberscopeAnalyzer/.idea
/CyberscopeAnalyzer/CyberscopeAnalyzer/bin
/CyberscopeAnalyzer/CyberscopeAnalyzer/obj
/CyberscopeAnalyzer/CyberscopeAnalyzer/.vs
/CyberscopeAnalyzer/CyberscopeAnalyzerService/obj
/CyberscopeAnalyzer/CyberscopeAnalyzerService/bin
/CyberscopeAnalyzer/InstallerAction/bin
/CyberscopeAnalyzer/InstallerAction/obj
/CyberscopeAnalyzer/packages
/CyberscopeAnalyzer/SetupCyberscopeAnalyzer/Debug
/windows-firewall-collector/GrpcClient/.vs
/windows-firewall-collector/GrpcClient/bin
/windows-firewall-collector/GrpcClient/obj
/windows-firewall-collector/GrpcClient/packages
/CyberscopeAnalyzer/ServiceManager/obj
/CyberscopeAnalyzer/ServiceManager/bin
