body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#globeViz {
	width: 100%;
	height: 100%;
}

#time {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: lightblue;
	font-family: monospace;
}
